# SPDX-FileCopyrightText: © 2021 Grégoire Duchêne <gduchene@awhk.org>
# SPDX-License-Identifier: ISC

[Unit]
Description=gosdd Example Service

[Service]
Type=simple
ExecStart=%h/example

[Install]
WantedBy=default.target
